# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- SQL
- Java
- C++

Some of the popular languages that Data Scientist use are: 
1. Python
2. SQL
3. Java

Some of the popular Libraries that Data Scientist include are:
1. Tensarflow
2. NumPu
3. SciPy
4. Plotly

| Data Science tools |
|--------------------|
| Apache Spark |
| Tensarflow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [41]:
# This will convert 200 minutes to hours. the ouput to this calculation is hours
(200/60)

3.3333333333333335

## Author
Nishet Patel